################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CommonDTO/bin/Debug
/CommonDTO/obj/Debug
/CSV Data Base Storage/bin/Debug
/CSV Data Base Storage/obj/Debug
/packages
/PhoneBook/bin
/PhoneBook/obj/Debug
/PhoneBook.Tests/bin/Debug
/PhoneBook.Tests/obj/Debug
/.vs
/CommonDTO/obj/Release
/CSV Data Base Storage/obj/Release
/Memory Data Storage/obj/Debug
/Memory Data Storage/obj/Release
/PhoneBook.Tests/obj/Release
/UI_Test/bin/Debug
/UI_Test/obj/Debug
/UI_Test/obj/Release
/PhoneBook/obj/Release
/Memory Data Storage/bin/Debug
